@tailwind base;
@tailwind components;
@tailwind utilities;

.firework {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  animation: firework 2s ease-out infinite;
}

@keyframes firework {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.fireworks {
  width: 200px;
  height: 200px;
}